html {
	height: 100%;
}
body {
	font-family: arial;
	height: 100%;
	margin: 0;
}
#interior {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}
#map {
	width: 230px;
	height: 230px;
	top: -45px;
	left: -28px;
}
#mapRotation {
	width: 174px;
	height: 140px;
	transform: rotate(135deg);
}
#gpsPanel {
	width: 174px;
	height: 140px;
	border: 1px solid black;
	position: fixed;
	top: 600px;
	left: 537px;
	overflow: hidden;
}
#streetView {
	width: 1280px;
	height: 600px;
}
#gamepadMessage {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: white;
	border: 1px solid black;
	padding: 2px;
	margin: 0;
}

